# День 00 – Сбор и очистка данных

 Добро пожаловать в Jupyter Notebook! Это тот инструмент, в котором дата сайентисты проводят больше всего времени, работая с данными при помощи кода на Python. Здесь очень удобно работать в интерактивном режиме, запуская отдельные ячейки, а не весь код сразу и полностью. Тут же можно делать и отчеты, поскольку помимо кода, здесь удобно строить графики и писать текст.

Мы понимаем, что вы не программисты и скорее всего не планируете ими стать, поэтому насколько это возможно мы будем сопровождать такие ноутбуки комментариями и полезными командами, которые могут вам пригодиться для решения задачи. Но естественно здесь будет не всё: что-то вам придется поискать самостоятельно в интернете. Такова уж методология Школы 21, и она приносит свои плоды.

## 0. Импорт библиотек

Библиотека – это по сути набор полезных функций и методов, которые написали одни программисты, а другие программисты могут уже не писать их с нуля, а пользоваться готовыми. Например, вы хотите посчитать среднее арифметическое значение по ряду. Вы можете самостоятельно написать код, который посчитает сумму по ряду и поделит на количество элементов в ряду, а можете импортировать библиотеку, где уже есть эта функция и воспользоваться ею. Это сэкономит вам время, силы, и код будет менее объемным.

Ниже мы импортируем широко используемую библиотеку Pandas. В ней есть много полезных функций для работы с табличными данными. Почти Excel, только взаимодействие с ним через код на Python. Мы будем пользоваться этой библиотекой в течение всего курса.

In [ ]:
import pandas as pd #мы будем часто пользоваться методами этой библиотеки, поэтому введем для нее сокращенное название – pd
import numpy as np

Давайте познакомимся с библиотекой Pandas. Pandas - это библиотека языка Python, который предоставляет быстрые, гибкие и выразительные структуры данных, разработанные для того, чтобы сделать работу с табличными данными простой и интуитивно понятной.

## 1. Загрузка данных

In [ ]:
df1 = pd.read_csv('../datasets/dataset_1.csv') #указываем путь к файлу
df1.head() #посмотрим несколько первых строк получившегося датафрейма
ptd1 = pd.read_csv('../datasets/part_01.csv')
ptd2 = pd.read_csv('../datasets/part_02.csv')
ptd3 = pd.read_csv('../datasets/part_03.csv')
ptd4 = pd.read_csv('../datasets/part_04.csv')
ptd5 = pd.read_csv('../datasets/part_05.csv')
ptd6 = pd.read_csv('../datasets/part_06.csv')
ptd7 = pd.read_csv('../datasets/part_07.csv')
ptd8 = pd.read_csv('../datasets/part_08.csv')
ptd9 = pd.read_csv('../datasets/part_09.csv')
ptd10 = pd.read_csv('../datasets/part_10.csv')
ptd11 = pd.read_csv('../datasets/part_11.csv')
ptd12 = pd.read_csv('../datasets/part_12.csv')

In [ ]:
df = pd.read_csv('../datasets/dataset_2.csv')
df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:fade9e846afa2931d45d997fb0b8a509364...
1                                           size 273

Если всё получилось, то вы увидите небольшой кусок таблицы: шапку, первые пять строчек

Загрузим еще несколько датасетов

In [ ]:
df2 = pd.read_csv('../datasets/dataset_2.csv')

In [ ]:
df2

       ID  AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M APP_COMP_TYPE
0  358628            0.030183                 0.216216           NaN
1  528730                 NaN                      NaN       PRIVATE
2  160451            0.000765                      NaN         STATE
3  210467            0.009256                      NaN       PRIVATE
4  211110            0.023359                 0.238095       PRIVATE
5  333131            0.045329                 0.400000           NaN

In [ ]:
df3 = pd.read_csv('../datasets/dataset_3.csv') #указываем путь к файлу

In [ ]:
df3

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE
0,274285,0.998698,0.0,0.000000,0.000000,0.653846,NaN
1,577671,0.000000,0.0,0.036643,0.150664,NaN,NaN

## 2. Полезные команды

Ниже мы покажем несколько полезных команд, которые вам могут пригодиться для выполнения сегодняшнего задания.

1. Узнать **названия полей** в датафрейме.

In [ ]:
df1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'APP_COMP_TYPE'],
      dtype='object')

2. Присоединить датафрейм **справа**:

In [ ]:
df4 = df1.merge(df2, left_on='ID', right_on='ID') # выбираем ID в качестве ключа, по которому датафреймы будут объединяться

In [ ]:
df4

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE_y
0,358628,0.914453,0.003802,0.000000,NaN,0.030183,0.216216,NaN
1,528730,NaN,NaN,NaN,PRIVATE,NaN,NaN,PRIVATE
2,160451,0.989403,0.000239,0.000992,STATE,0.000765,NaN,STATE
3,210467,0.561584,0.000000,0.016932,PRIVATE,0.009256,NaN,PRIVATE
4,211110,0.909531,0.051183,0.000000,PRIVATE,0.023359,0.238095,PRIVATE
5,333131,0.485581,0.008142,0.000000,NaN,0.045329,0.400000,NaN

2. Присоединить датафрейм **снизу**:

In [ ]:
df5 = pd.concat([df2, df4], ignore_index=True)
df5

,ID,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,APP_COMP_TYPE_y
0,358628,0.030183,0.216216,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
2,160451,0.000765,NaN,STATE,NaN,NaN,NaN,NaN,NaN
3,210467,0.009256,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
4,211110,0.023359,0.238095,PRIVATE,NaN,NaN,NaN,NaN,NaN
5,333131,0.045329,0.400000,NaN,NaN,NaN,NaN,NaN,NaN
6,358628,0.030183,0.216216,NaN,0.914453,0.003802,0.000000,NaN,NaN
7,528730,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,PRIVATE
8,160451,0.000765,NaN,NaN,0.989403,0.000239,0.000992,STATE,STATE
9,210467,0.009256,NaN,NaN,0.561584,0.000000,0.016932,PRIVATE,PRIVATE
10,211110,0.023359,0.238095,NaN,0.909531,0.051183,0.000000,PRIVATE,PRIVATE
11,333131,0.045329,0.400000,NaN,0.485581,0.008142,0.000000,NaN,NaN

Теперь перейдем к этапу очистки данных. Напомним: вам нужно значения текстовых полей привести к единообразию. То есть слова, написанные немного по-разному, привести к одному варианту их написания.

Ниже вы найдете перечень команд, которые помогут справиться с этим заданием по очистке полученного на предыдущем шаге датасета.

4. Команда, которая поможет вам выявить, какие же поля являются текстовыми.

In [ ]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       12 non-null     int64
 1   AMOUNT_RUB_SUP_PRC       10 non-null     float64
 2   CNT_TRAN_ATM_TENDENCY1M  6 non-null      float64
 3   APP_COMP_TYPE            4 non-null      object
 4   AMOUNT_RUB_ATM_PRC       5 non-null      float64
 5   AMOUNT_RUB_CLO_PRC       5 non-null      float64
 6   AMOUNT_RUB_NAS_PRC       5 non-null      float64
 7   APP_COMP_TYPE_x          4 non-null      object
 8   APP_COMP_TYPE_y          4 non-null      object
dtypes: float64(5), int64(1), object(3)
memory usage: 992.0+ bytes

5. Команда, позволяющая посмотреть **список уникальных значений** в столбце:

In [ ]:
df5.APP_COMP_TYPE.unique()

array([nan, 'PRIVATE', 'STATE'], dtype=object)

 Она же, только представленная **в виде списка**. Бывает полезной, когда уникальных значений слишком много и в предыдущем варианте показываются не все из них. Плюс результат не содержит всякой лишней информации.

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'PRIVATE', 'STATE']

6. Команда, которая позволяет привести все значения признака в **в нижний регистр**:

In [ ]:
df5.APP_COMP_TYPE = df5.APP_COMP_TYPE.str.lower() #недостаточно просто применить метод lower к столбцу, нужно как бы его перезаписать

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'state']

7. Команда, которая позволяет заменить значения в столбце на другие значения:

In [ ]:
df5.APP_COMP_TYPE.replace('state','гос',inplace=True)

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'гос']

8. Команда, которая позволяет **отсортировать** значения в списке (может пригодиться, чтобы посмотреть на длинный список):

In [ ]:
list(df5.APP_COMP_TYPE.unique()).sort()

TypeError: '<' not supported between instances of 'str' and 'float'

После нее выведется ошибка, потому что в списке есть nan – специальный тип данных, обозначающий пустое значение. По этой причине не может отсортировать список: все значения текстовые, а одно значение nan. Нужно этот nan удалить из списка уникальных значений, чтобы не мешался. Не будем вдаваться в подробности почему ниже команда выглядит именно так. Она приводит нас к результату.

In [ ]:
spisok = [x for x in list(df5.APP_COMP_TYPE.unique()) if x == x]
spisok.sort()
spisok

['private', 'гос']

9. Команда, которая помогает **удалить из текстового поля числовые значения**, короткие значения, значения, где есть знаки препинания.

In [ ]:
df5.APP_COMP_TYPE.where(df5.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)

Если вам не хватает команд, представленных в этом ноутбуке, то вы можете **самостоятельно воспользоваться поиском в Google**.

    "pandas how to save a csv-file with header"
    
    "pandas how to save a csv-file with header"
     
    "pandas how to compare values of two columns"

## 3. Самостоятельная часть

Ниже вам нужно самим собрать целиком датасет из разрозненных кусков и почистить датасет в части текстовых полей.

### 3.1 Объединение датасета
Вам нужно собрать полный датасет, собранный из частей датасета всех участников.
1. Датасет должен содержать в шапке названия полей.
2. Датасет не должен содержать лишних столбцов – только те, что были представлены в частях датасета.
3. Датасет должен быть отсортирован по возрастанию значений поля `ID`.
4. В датасете не должно быть дублирующихся строк и столбцов.

5. Выведете первые 10 строк объединенного датасета

6. Выведите количество столбцов и колонок в объединенном датасете

In [13]:
import pandas as pd
import numpy as np

ptd1 = pd.read_csv('/content/datasets/part_01.csv')
ptd2 = pd.read_csv('/content/datasets/part_02.csv')
ptd3 = pd.read_csv('/content/datasets/part_03.csv')
ptd4 = pd.read_csv('/content/datasets/part_04.csv')
ptd5 = pd.read_csv('/content/datasets/part_05.csv')
ptd6 = pd.read_csv('/content/datasets/part_06.csv')
ptd7 = pd.read_csv('/content/datasets/part_07.csv')
ptd8 = pd.read_csv('/content/datasets/part_08.csv')
ptd9 = pd.read_csv('/content/datasets/part_09.csv')
ptd10 = pd.read_csv('/content/datasets/part_10.csv')
ptd11 = pd.read_csv('/content/datasets/part_11.csv')
ptd12 = pd.read_csv('/content/datasets/part_12.csv')
parts_merge = [ptd3, ptd4, ptd5, ptd6]
parts_contains = [[ptd1, ptd9], [ptd2, ptd11], [ptd4, ptd7], [ptd5, ptd12] ,[ptd6, ptd10], [ptd3, ptd8]]

for i in parts_contains:
  i[0] = pd.concat(i, ignore_index=True)
df = ptd1.merge(ptd2, left_on='ID', right_on='ID')
for i in parts_merge:
  df = df.merge(i, left_on='ID', right_on='ID')
df = df.sort_values('ID')
print(df.shape)
df.head(10)

(5443, 116)

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,TURNOVER_CC,TURNOVER_DYNAMIC_CC_1M,TURNOVER_DYNAMIC_CC_3M,TURNOVER_DYNAMIC_CUR_1M,TURNOVER_DYNAMIC_CUR_3M,TURNOVER_DYNAMIC_IL_1M,TURNOVER_DYNAMIC_IL_3M,TURNOVER_DYNAMIC_PAYM_1M,TURNOVER_DYNAMIC_PAYM_3M,TURNOVER_PAYM
1468,146858,0.987257,0.000000,0.000000,0.000000,0.125000,0.250000,NaN,NaN,NaN,...,0.0,0.0,0.0,0.042694,0.224078,0.0,0.00000,0.000000,0.000000,0.000000
2579,146859,0.985019,0.000000,0.000000,0.000000,0.333333,1.000000,NaN,NaN,NaN,...,0.0,0.0,0.0,0.235878,0.987447,0.0,0.00000,0.000000,0.000000,9.873333
5334,146873,0.580898,0.000000,0.001035,0.031860,0.266667,0.533333,0.1,0.6,NaN,...,0.0,0.0,0.0,0.174925,0.512234,0.0,0.00000,0.000000,0.000000,0.000000
3745,146886,1.000000,0.000000,0.000000,0.000000,0.142857,0.380952,NaN,NaN,NaN,...,0.0,0.0,0.0,0.220986,0.436326,0.0,0.57799,0.000000,0.000000,0.000000
4854,146927,0.821829,0.063757,0.000000,0.007720,0.181818,0.363636,NaN,NaN,0.25,...,0.0,0.0,0.0,0.148287,0.356910,0.0,0.00000,0.000000,0.000000,0.000000
3242,147088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000
1981,147169,0.825056,0.000000,0.004125,0.091190,0.272727,0.454545,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,1.000000,0.0,0.00000,0.038519,0.242430,139615.321667
4623,147261,0.851709,0.033868,0.008637,0.000000,NaN,1.000000,NaN,NaN,NaN,...,0.0,0.0,0.0,0.011021,0.011021,0.0,0.00000,0.053120,0.543099,70378.180000
626,147262,0.636364,0.000000,0.363636,0.000000,1.000000,1.000000,NaN,NaN,NaN,...,0.0,0.0,0.0,0.179274,0.429872,0.0,0.00000,0.000000,0.000000,0.000000
69,147330,0.000000,0.186782,0.000000,0.346079,NaN,NaN,NaN,NaN,1.00,...,0.0,0.0,0.0,0.230038,0.230218,0.0,0.00000,0.000000,0.000000,0.000000

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

7. Проверьте датасеты на отсутствие дубликатов

In [15]:
duplicateRows = df[df.duplicated ()]
print(duplicateRows.shape)
duplicateRows

(0, 116)

Empty DataFrame
Columns: [ID, AMOUNT_RUB_ATM_PRC, AMOUNT_RUB_CLO_PRC, AMOUNT_RUB_NAS_PRC, AMOUNT_RUB_SUP_PRC, CNT_TRAN_ATM_TENDENCY1M, CNT_TRAN_ATM_TENDENCY3M, CNT_TRAN_AUT_TENDENCY1M, CNT_TRAN_AUT_TENDENCY3M, CNT_TRAN_CLO_TENDENCY1M, CNT_TRAN_CLO_TENDENCY3M, CNT_TRAN_MED_TENDENCY1M, CNT_TRAN_MED_TENDENCY3M, CNT_TRAN_SUP_TENDENCY1M, CNT_TRAN_SUP_TENDENCY3M, SUM_TRAN_ATM_TENDENCY1M, SUM_TRAN_ATM_TENDENCY3M, SUM_TRAN_AUT_TENDENCY1M, SUM_TRAN_AUT_TENDENCY3M, SUM_TRAN_CLO_TENDENCY1M, SUM_TRAN_CLO_TENDENCY3M, SUM_TRAN_MED_TENDENCY1M, SUM_TRAN_MED_TENDENCY3M, SUM_TRAN_SUP_TENDENCY1M, SUM_TRAN_SUP_TENDENCY3M, TRANS_AMOUNT_TENDENCY3M, TRANS_CNT_TENDENCY3M, TRANS_COUNT_ATM_PRC, TRANS_COUNT_NAS_PRC, TRANS_COUNT_SUP_PRC, AGE, APP_CAR, APP_COMP_TYPE, APP_DRIVING_LICENSE, APP_EDUCATION, APP_EMP_TYPE, APP_KIND_OF_PROP_HABITATION, APP_MARITAL_STATUS, APP_POSITION_TYPE, APP_REGISTR_RGN_CODE, APP_TRAVEL_PASS, AVG_PCT_DEBT_TO_DEAL_AMT, AVG_PCT_MONTH_TO_PCLOSE, DEAL_GRACE_DAYS_ACC_AVG, DEAL_GRACE_DAYS_ACC_MAX, DEAL_GRACE_DAYS_ACC_S1X1, DEAL_YQZ_IR_MAX, DEAL_YQZ_IR_MIN, DEAL_YWZ_IR_MAX, DEAL_YWZ_IR_MIN, LDEAL_ACT_DAYS_ACC_PCT_AVG, LDEAL_ACT_DAYS_PCT_AAVG, LDEAL_ACT_DAYS_PCT_CURR, LDEAL_ACT_DAYS_PCT_TR, LDEAL_ACT_DAYS_PCT_TR3, LDEAL_ACT_DAYS_PCT_TR4, LDEAL_AMT_MONTH, LDEAL_DELINQ_PER_MAXYQZ, LDEAL_DELINQ_PER_MAXYWZ, LDEAL_GRACE_DAYS_PCT_MED, LDEAL_TENOR_MAX, LDEAL_TENOR_MIN, LDEAL_USED_AMT_AVG_YQZ, LDEAL_USED_AMT_AVG_YWZ, LDEAL_YQZ_CHRG, LDEAL_YQZ_COM, LDEAL_YQZ_PC, MAX_PCLOSE_DATE, MED_DEBT_PRC_YQZ, MED_DEBT_PRC_YWZ, CLNT_JOB_POSITION, CLNT_JOB_POSITION_TYPE, CLNT_SALARY_VALUE, CLNT_SETUP_TENOR, CLNT_TRUST_RELATION, CR_PROD_CNT_CC, CR_PROD_CNT_CCFP, CR_PROD_CNT_IL, CR_PROD_CNT_PIL, CR_PROD_CNT_TOVR, CR_PROD_CNT_VCU, PACK, TARGET, CNT_ACCEPTS_MTP, CNT_ACCEPTS_TK, PRC_ACCEPTS_A_AMOBILE, PRC_ACCEPTS_A_ATM, PRC_ACCEPTS_A_EMAIL_LINK, PRC_ACCEPTS_A_MTP, PRC_ACCEPTS_A_POS, PRC_ACCEPTS_A_TK, PRC_ACCEPTS_MTP, PRC_ACCEPTS_TK, REST_AVG_CUR, REST_AVG_PAYM, REST_DYNAMIC_CC_1M, REST_DYNAMIC_CC_3M, REST_DYNAMIC_CUR_1M, REST_DYNAMIC_CUR_3M, REST_DYNAMIC_FDEP_1M, ...]
Index: []

[0 rows x 116 columns]

### 3.2. Очистка текстовых данных
Теперь можно приступать к очистке данных. Для этого нужно:
1. Найти в получившемся датасете все поля, которые являются текстовыми.
2. Привести их значения к нижнему регистру.
3. В тех полях, где есть одновременно русское и английское написание одного и того же слова, оставить только русское (заменить английское на русское). Это условие не применять к полю `CLNT_JOB_POSITION`. Это будет чересчур даже для нашего курса :)
4. Если текстовое значение состоит только из “` `“ (пробел), то его заменить на `NaN` (пустое значение, а не строку 'NaN').
5. Если в текстовом значении есть цифры (телефон, дата рождения и др.), то всё значение текстового поля тоже заменить на `NaN`. Поле `PACK` оставить в исходном виде. Оно отвечает за пакет услуг клиента, и нам эта информация может быть важной. Затирать ее на пустые значения было бы опрометчиво.
6. Если есть столбцы, которые абсолютно идентичны по своим значениям для одних и тех же строк, то оставить только тот столбец, который идет первее. Речь идет только о текстовых полях.

In [27]:
df_object = df.select_dtypes(include = ['object'])
df_strs = list(df_object)
for i in df_strs:
  df[i] = df[i].str.lower()
df_strs.remove('CLNT_JOB_POSITION')

7. Выведите количество уникальных значения в полях CLNT_TRUST_RELATION, APP_MARITAL_STATUS, CLNT_JOB_POSITION

8. Выведите колонки итогового датасета