# День 00 – Сбор и очистка данных

 Добро пожаловать в Jupyter Notebook! Это тот инструмент, в котором дата сайентисты проводят больше всего времени, работая с данными при помощи кода на Python. Здесь очень удобно работать в интерактивном режиме, запуская отдельные ячейки, а не весь код сразу и полностью. Тут же можно делать и отчеты, поскольку помимо кода, здесь удобно строить графики и писать текст.

Мы понимаем, что вы не программисты и скорее всего не планируете ими стать, поэтому насколько это возможно мы будем сопровождать такие ноутбуки комментариями и полезными командами, которые могут вам пригодиться для решения задачи. Но естественно здесь будет не всё: что-то вам придется поискать самостоятельно в интернете. Такова уж методология Школы 21, и она приносит свои плоды.

## 0. Импорт библиотек

Библиотека – это по сути набор полезных функций и методов, которые написали одни программисты, а другие программисты могут уже не писать их с нуля, а пользоваться готовыми. Например, вы хотите посчитать среднее арифметическое значение по ряду. Вы можете самостоятельно написать код, который посчитает сумму по ряду и поделит на количество элементов в ряду, а можете импортировать библиотеку, где уже есть эта функция и воспользоваться ею. Это сэкономит вам время, силы, и код будет менее объемным.

Ниже мы импортируем широко используемую библиотеку Pandas. В ней есть много полезных функций для работы с табличными данными. Почти Excel, только взаимодействие с ним через код на Python. Мы будем пользоваться этой библиотекой в течение всего курса.

In [ ]:
import pandas as pd #мы будем часто пользоваться методами этой библиотеки, поэтому введем для нее сокращенное название – pd
import numpy as np

Давайте познакомимся с библиотекой Pandas. Pandas - это библиотека языка Python, который предоставляет быстрые, гибкие и выразительные структуры данных, разработанные для того, чтобы сделать работу с табличными данными простой и интуитивно понятной.

## 1. Загрузка данных

In [ ]:
df1 = pd.read_csv('../datasets/dataset_1.csv') #указываем путь к файлу
df1.head() #посмотрим несколько первых строк получившегося датафрейма
ptd1 = pd.read_csv('../datasets/part_01.csv')
ptd2 = pd.read_csv('../datasets/part_02.csv')
ptd3 = pd.read_csv('../datasets/part_03.csv')
ptd4 = pd.read_csv('../datasets/part_04.csv')
ptd5 = pd.read_csv('../datasets/part_05.csv')
ptd6 = pd.read_csv('../datasets/part_06.csv')
ptd7 = pd.read_csv('../datasets/part_07.csv')
ptd8 = pd.read_csv('../datasets/part_08.csv')
ptd9 = pd.read_csv('../datasets/part_09.csv')
ptd10 = pd.read_csv('../datasets/part_10.csv')
ptd11 = pd.read_csv('../datasets/part_11.csv')
ptd12 = pd.read_csv('../datasets/part_12.csv')

In [ ]:
df = pd.read_csv('../datasets/dataset_2.csv')
df.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:fade9e846afa2931d45d997fb0b8a509364...
1                                           size 273

Если всё получилось, то вы увидите небольшой кусок таблицы: шапку, первые пять строчек

Загрузим еще несколько датасетов

In [ ]:
df2 = pd.read_csv('../datasets/dataset_2.csv')

In [ ]:
df2

       ID  AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M APP_COMP_TYPE
0  358628            0.030183                 0.216216           NaN
1  528730                 NaN                      NaN       PRIVATE
2  160451            0.000765                      NaN         STATE
3  210467            0.009256                      NaN       PRIVATE
4  211110            0.023359                 0.238095       PRIVATE
5  333131            0.045329                 0.400000           NaN

In [ ]:
df3 = pd.read_csv('../datasets/dataset_3.csv') #указываем путь к файлу

In [ ]:
df3

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE
0,274285,0.998698,0.0,0.000000,0.000000,0.653846,NaN
1,577671,0.000000,0.0,0.036643,0.150664,NaN,NaN

## 2. Полезные команды

Ниже мы покажем несколько полезных команд, которые вам могут пригодиться для выполнения сегодняшнего задания.

1. Узнать **названия полей** в датафрейме.

In [ ]:
df1.columns

Index(['ID', 'AMOUNT_RUB_ATM_PRC', 'AMOUNT_RUB_CLO_PRC', 'AMOUNT_RUB_NAS_PRC',
       'APP_COMP_TYPE'],
      dtype='object')

2. Присоединить датафрейм **справа**:

In [ ]:
df4 = df1.merge(df2, left_on='ID', right_on='ID') # выбираем ID в качестве ключа, по которому датафреймы будут объединяться

In [ ]:
df4

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE_y
0,358628,0.914453,0.003802,0.000000,NaN,0.030183,0.216216,NaN
1,528730,NaN,NaN,NaN,PRIVATE,NaN,NaN,PRIVATE
2,160451,0.989403,0.000239,0.000992,STATE,0.000765,NaN,STATE
3,210467,0.561584,0.000000,0.016932,PRIVATE,0.009256,NaN,PRIVATE
4,211110,0.909531,0.051183,0.000000,PRIVATE,0.023359,0.238095,PRIVATE
5,333131,0.485581,0.008142,0.000000,NaN,0.045329,0.400000,NaN

2. Присоединить датафрейм **снизу**:

In [ ]:
df5 = pd.concat([df2, df4], ignore_index=True)
df5

,ID,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,APP_COMP_TYPE,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,APP_COMP_TYPE_x,APP_COMP_TYPE_y
0,358628,0.030183,0.216216,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
2,160451,0.000765,NaN,STATE,NaN,NaN,NaN,NaN,NaN
3,210467,0.009256,NaN,PRIVATE,NaN,NaN,NaN,NaN,NaN
4,211110,0.023359,0.238095,PRIVATE,NaN,NaN,NaN,NaN,NaN
5,333131,0.045329,0.400000,NaN,NaN,NaN,NaN,NaN,NaN
6,358628,0.030183,0.216216,NaN,0.914453,0.003802,0.000000,NaN,NaN
7,528730,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,PRIVATE
8,160451,0.000765,NaN,NaN,0.989403,0.000239,0.000992,STATE,STATE
9,210467,0.009256,NaN,NaN,0.561584,0.000000,0.016932,PRIVATE,PRIVATE
10,211110,0.023359,0.238095,NaN,0.909531,0.051183,0.000000,PRIVATE,PRIVATE
11,333131,0.045329,0.400000,NaN,0.485581,0.008142,0.000000,NaN,NaN

Теперь перейдем к этапу очистки данных. Напомним: вам нужно значения текстовых полей привести к единообразию. То есть слова, написанные немного по-разному, привести к одному варианту их написания.

Ниже вы найдете перечень команд, которые помогут справиться с этим заданием по очистке полученного на предыдущем шаге датасета.

4. Команда, которая поможет вам выявить, какие же поля являются текстовыми.

In [ ]:
df5.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       12 non-null     int64
 1   AMOUNT_RUB_SUP_PRC       10 non-null     float64
 2   CNT_TRAN_ATM_TENDENCY1M  6 non-null      float64
 3   APP_COMP_TYPE            4 non-null      object
 4   AMOUNT_RUB_ATM_PRC       5 non-null      float64
 5   AMOUNT_RUB_CLO_PRC       5 non-null      float64
 6   AMOUNT_RUB_NAS_PRC       5 non-null      float64
 7   APP_COMP_TYPE_x          4 non-null      object
 8   APP_COMP_TYPE_y          4 non-null      object
dtypes: float64(5), int64(1), object(3)
memory usage: 992.0+ bytes

5. Команда, позволяющая посмотреть **список уникальных значений** в столбце:

In [ ]:
df5.APP_COMP_TYPE.unique()

array([nan, 'PRIVATE', 'STATE'], dtype=object)

 Она же, только представленная **в виде списка**. Бывает полезной, когда уникальных значений слишком много и в предыдущем варианте показываются не все из них. Плюс результат не содержит всякой лишней информации.

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'PRIVATE', 'STATE']

6. Команда, которая позволяет привести все значения признака в **в нижний регистр**:

In [ ]:
df5.APP_COMP_TYPE = df5.APP_COMP_TYPE.str.lower() #недостаточно просто применить метод lower к столбцу, нужно как бы его перезаписать

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'state']

7. Команда, которая позволяет заменить значения в столбце на другие значения:

In [ ]:
df5.APP_COMP_TYPE.replace('state','гос',inplace=True)

In [ ]:
list(df5.APP_COMP_TYPE.unique())

[nan, 'private', 'гос']

8. Команда, которая позволяет **отсортировать** значения в списке (может пригодиться, чтобы посмотреть на длинный список):

In [ ]:
list(df5.APP_COMP_TYPE.unique()).sort()

TypeError: '<' not supported between instances of 'str' and 'float'

После нее выведется ошибка, потому что в списке есть nan – специальный тип данных, обозначающий пустое значение. По этой причине не может отсортировать список: все значения текстовые, а одно значение nan. Нужно этот nan удалить из списка уникальных значений, чтобы не мешался. Не будем вдаваться в подробности почему ниже команда выглядит именно так. Она приводит нас к результату.

In [ ]:
spisok = [x for x in list(df5.APP_COMP_TYPE.unique()) if x == x]
spisok.sort()
spisok

['private', 'гос']

9. Команда, которая помогает **удалить из текстового поля числовые значения**, короткие значения, значения, где есть знаки препинания.

In [ ]:
df5.APP_COMP_TYPE.where(df5.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)

Если вам не хватает команд, представленных в этом ноутбуке, то вы можете **самостоятельно воспользоваться поиском в Google**.

    "pandas how to save a csv-file with header"
    
    "pandas how to save a csv-file with header"
     
    "pandas how to compare values of two columns"

## 3. Самостоятельная часть

Ниже вам нужно самим собрать целиком датасет из разрозненных кусков и почистить датасет в части текстовых полей.

### 3.1 Объединение датасета
Вам нужно собрать полный датасет, собранный из частей датасета всех участников.
1. Датасет должен содержать в шапке названия полей.
2. Датасет не должен содержать лишних столбцов – только те, что были представлены в частях датасета.
3. Датасет должен быть отсортирован по возрастанию значений поля `ID`.
4. В датасете не должно быть дублирующихся строк и столбцов.

5. Выведете первые 10 строк объединенного датасета

6. Выведите количество столбцов и колонок в объединенном датасете

In [27]:
import pandas as pd
import numpy as np

ptd1 = pd.read_csv('/content/datasets/part_01.csv')
ptd2 = pd.read_csv('/content/datasets/part_02.csv')
ptd3 = pd.read_csv('/content/datasets/part_03.csv')
ptd4 = pd.read_csv('/content/datasets/part_04.csv')
ptd5 = pd.read_csv('/content/datasets/part_05.csv')
ptd6 = pd.read_csv('/content/datasets/part_06.csv')
ptd7 = pd.read_csv('/content/datasets/part_07.csv')
ptd8 = pd.read_csv('/content/datasets/part_08.csv')
ptd9 = pd.read_csv('/content/datasets/part_09.csv')
ptd10 = pd.read_csv('/content/datasets/part_10.csv')
ptd11 = pd.read_csv('/content/datasets/part_11.csv')
ptd12 = pd.read_csv('/content/datasets/part_12.csv')
parts = [ptd1, ptd2, ptd3, ptd4, ptd5, ptd6, ptd7, ptd8, ptd9, ptd10, ptd11, ptd12]
parts_contains = [[ptd1, ptd9], [ptd2, ptd11], [ptd4, ptd7], [ptd5, ptd12] ,[ptd6, ptd10]]
itter = 1
# for i in parts:
#   print('ptd' , itter , '\n')
#   i.info()
#   itter = itter+1
  # ptd4-ptd7, ptd1-ptd9, 2-11, 12-5 10-6

ptd 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       177595 non-null  int64
 1   AMOUNT_RUB_ATM_PRC       158449 non-null  float64
 2   AMOUNT_RUB_CLO_PRC       158449 non-null  float64
 3   AMOUNT_RUB_NAS_PRC       158449 non-null  float64
 4   AMOUNT_RUB_SUP_PRC       158449 non-null  float64
 5   CNT_TRAN_ATM_TENDENCY1M  103065 non-null  float64
 6   CNT_TRAN_ATM_TENDENCY3M  127814 non-null  float64
 7   CNT_TRAN_AUT_TENDENCY1M  38697 non-null   float64
 8   CNT_TRAN_AUT_TENDENCY3M  55499 non-null   float64
 9   CNT_TRAN_CLO_TENDENCY1M  32838 non-null   float64
 10  CNT_TRAN_CLO_TENDENCY3M  57049 non-null   float64
 11  CNT_TRAN_MED_TENDENCY1M  34600 non-null   float64
 12  CNT_TRAN_MED_TENDENCY3M  57872 non-null   float64
 13  CNT_TRAN_SUP_TENDENCY1M  77836 non-null   float64
 14  CNT_TRAN_SUP_TENDENCY3M  99138 non-null   float64
 15  SUM_TRAN_ATM_TENDENCY1M  103065 non-null  float64
 16  SUM_TRAN_ATM_TENDENCY3M  127814 non-null  float64
 17  SUM_TRAN_AUT_TENDENCY1M  38697 non-null   float64
 18  SUM_TRAN_AUT_TENDENCY3M  55499 non-null   float64
 19  SUM_TRAN_CLO_TENDENCY1M  32838 non-null   float64
 20  SUM_TRAN_CLO_TENDENCY3M  57049 non-null   float64
 21  SUM_TRAN_MED_TENDENCY1M  34600 non-null   float64
 22  SUM_TRAN_MED_TENDENCY3M  57872 non-null   float64
 23  SUM_TRAN_SUP_TENDENCY1M  77836 non-null   float64
 24  SUM_TRAN_SUP_TENDENCY3M  99138 non-null   float64
 25  TRANS_AMOUNT_TENDENCY3M  151583 non-null  float64
 26  TRANS_CNT_TENDENCY3M     151583 non-null  float64
 27  TRANS_COUNT_ATM_PRC      158449 non-null  float64
 28  TRANS_COUNT_NAS_PRC      158449 non-null  float64
 29  TRANS_COUNT_SUP_PRC      158449 non-null  float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB
ptd 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           177595 non-null  int64
 1   AGE                          177595 non-null  int64
 2   APP_CAR                      28696 non-null   object
 3   APP_COMP_TYPE                33717 non-null   object
 4   APP_DRIVING_LICENSE          28696 non-null   object
 5   APP_EDUCATION                34111 non-null   object
 6   APP_EMP_TYPE                 33717 non-null   object
 7   APP_KIND_OF_PROP_HABITATION  29712 non-null   object
 8   APP_MARITAL_STATUS           34174 non-null   object
 9   APP_POSITION_TYPE            30297 non-null   object
 10  APP_REGISTR_RGN_CODE         30383 non-null   float64
 11  APP_TRAVEL_PASS              28696 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 16.3+ MB
ptd 3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          177595 non-null  int64
 1   AVG_PCT_DEBT_TO_DEAL_AMT    953 non-null     float64
 2   AVG_PCT_MONTH_TO_PCLOSE     822 non-null     float64
 3   DEAL_GRACE_DAYS_ACC_AVG     34530 non-null   float64
 4   DEAL_GRACE_DAYS_ACC_MAX     34530 non-null   float64
 5   DEAL_GRACE_DAYS_ACC_S1X1    35027 non-null   float64
 6   DEAL_YQZ_IR_MAX             4056 non-null    float64
 7   DEAL_YQZ_IR_MIN             4056 non-null    float64
 8   DEAL_YWZ_IR_MAX             47683 non-null   float64
 9   DEAL_YWZ_IR_MIN             47683 non-null   float64
 10  LDEAL_ACT_DAYS_ACC_PCT_AVG  46560 non-null   float64
 11  LDEAL_ACT_DAYS_PCT_AAVG     48960 non-null   float64
 12  LDEAL_ACT_DAYS_PCT_CURR     46560 non-null   float64
 13  LDEAL_ACT_DAYS_PCT_TR       46560 non-null   float64
 14  LDEAL_ACT_DAYS_PCT_TR3      46560 non-null   float64
 15  LDEAL_ACT_DAYS_PCT_TR4      46560 non-null   float64
 16  LDEAL_AMT_MONTH             953 non-null     float64
 17  LDEAL_DELINQ_PER_MAXYQZ     4056 non-null    float64
 18  LDEAL_DELINQ_PER_MAXYWZ     47683 non-null   float64
 19  LDEAL_GRACE_DAYS_PCT_MED    177595 non-null  float64
 20  LDEAL_TENOR_MAX             4056 non-null    float64
 21  LDEAL_TENOR_MIN             4056 non-null    float64
 22  LDEAL_USED_AMT_AVG_YQZ      4056 non-null    float64
 23  LDEAL_USED_AMT_AVG_YWZ      47683 non-null   float64
 24  LDEAL_YQZ_CHRG              625 non-null     float64
 25  LDEAL_YQZ_COM               628 non-null     float64
 26  LDEAL_YQZ_PC                1415 non-null    float64
 27  MAX_PCLOSE_DATE             950 non-null     float64
 28  MED_DEBT_PRC_YQZ            4056 non-null    float64
 29  MED_DEBT_PRC_YWZ            47683 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB
ptd 4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      177595 non-null  int64
 1   CLNT_JOB_POSITION       105294 non-null  object
 2   CLNT_JOB_POSITION_TYPE  22236 non-null   object
 3   CLNT_SALARY_VALUE       337 non-null     float64
 4   CLNT_SETUP_TENOR        177595 non-null  float64
 5   CLNT_TRUST_RELATION     34575 non-null   object
 6   CR_PROD_CNT_CC          177595 non-null  int64
 7   CR_PROD_CNT_CCFP        177595 non-null  int64
 8   CR_PROD_CNT_IL          177595 non-null  int64
 9   CR_PROD_CNT_PIL         177595 non-null  int64
 10  CR_PROD_CNT_TOVR        177595 non-null  int64
 11  CR_PROD_CNT_VCU         177595 non-null  int64
 12  PACK                    177595 non-null  object
 13  TARGET                  177595 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 19.0+ MB
ptd 5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   CNT_ACCEPTS_MTP           77666 non-null   float64
 2   CNT_ACCEPTS_TK            77666 non-null   float64
 3   PRC_ACCEPTS_A_AMOBILE     77666 non-null   float64
 4   PRC_ACCEPTS_A_ATM         77666 non-null   float64
 5   PRC_ACCEPTS_A_EMAIL_LINK  77666 non-null   float64
 6   PRC_ACCEPTS_A_MTP         77666 non-null   float64
 7   PRC_ACCEPTS_A_POS         77666 non-null   float64
 8   PRC_ACCEPTS_A_TK          77666 non-null   float64
 9   PRC_ACCEPTS_MTP           77666 non-null   float64
 10  PRC_ACCEPTS_TK            77666 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 14.9 MB
ptd 6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   REST_AVG_CUR              177595 non-null  float64
 2   REST_AVG_PAYM             177595 non-null  float64
 3   REST_DYNAMIC_CC_1M        177595 non-null  float64
 4   REST_DYNAMIC_CC_3M        177595 non-null  float64
 5   REST_DYNAMIC_CUR_1M       177595 non-null  float64
 6   REST_DYNAMIC_CUR_3M       177595 non-null  float64
 7   REST_DYNAMIC_FDEP_1M      177595 non-null  float64
 8   REST_DYNAMIC_FDEP_3M      177595 non-null  float64
 9   REST_DYNAMIC_IL_1M        177595 non-null  float64
 10  REST_DYNAMIC_IL_3M        177595 non-null  float64
 11  REST_DYNAMIC_PAYM_1M      177595 non-null  float64
 12  REST_DYNAMIC_PAYM_3M      177595 non-null  float64
 13  REST_DYNAMIC_SAVE_3M      177595 non-null  float64
 14  TURNOVER_CC               177595 non-null  float64
 15  TURNOVER_DYNAMIC_CC_1M    177595 non-null  float64
 16  TURNOVER_DYNAMIC_CC_3M    177595 non-null  float64
 17  TURNOVER_DYNAMIC_CUR_1M   177595 non-null  float64
 18  TURNOVER_DYNAMIC_CUR_3M   177595 non-null  float64
 19  TURNOVER_DYNAMIC_IL_1M    177595 non-null  float64
 20  TURNOVER_DYNAMIC_IL_3M    177595 non-null  float64
 21  TURNOVER_DYNAMIC_PAYM_1M  177595 non-null  float64
 22  TURNOVER_DYNAMIC_PAYM_3M  177595 non-null  float64
 23  TURNOVER_PAYM             177595 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 32.5 MB
ptd 7

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      177595 non-null  int64
 1   CLNT_JOB_POSITION       105517 non-null  object
 2   CLNT_JOB_POSITION_TYPE  22545 non-null   object
 3   CLNT_SALARY_VALUE       375 non-null     float64
 4   CLNT_SETUP_TENOR        177595 non-null  float64
 5   CLNT_TRUST_RELATION     34846 non-null   object
 6   CR_PROD_CNT_CC          177595 non-null  int64
 7   CR_PROD_CNT_CCFP        177595 non-null  int64
 8   CR_PROD_CNT_IL          177595 non-null  int64
 9   CR_PROD_CNT_PIL         177595 non-null  int64
 10  CR_PROD_CNT_TOVR        177595 non-null  int64
 11  CR_PROD_CNT_VCU         177595 non-null  int64
 12  PACK                    177595 non-null  object
 13  TARGET                  177595 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 19.0+ MB
ptd 8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          177595 non-null  int64
 1   AVG_PCT_DEBT_TO_DEAL_AMT    935 non-null     float64
 2   AVG_PCT_MONTH_TO_PCLOSE     806 non-null     float64
 3   DEAL_GRACE_DAYS_ACC_AVG     34903 non-null   float64
 4   DEAL_GRACE_DAYS_ACC_MAX     34903 non-null   float64
 5   DEAL_GRACE_DAYS_ACC_S1X1    35422 non-null   float64
 6   DEAL_YQZ_IR_MAX             3945 non-null    float64
 7   DEAL_YQZ_IR_MIN             3945 non-null    float64
 8   DEAL_YWZ_IR_MAX             48030 non-null   float64
 9   DEAL_YWZ_IR_MIN             48030 non-null   float64
 10  LDEAL_ACT_DAYS_ACC_PCT_AVG  46888 non-null   float64
 11  LDEAL_ACT_DAYS_PCT_AAVG     49215 non-null   float64
 12  LDEAL_ACT_DAYS_PCT_CURR     46888 non-null   float64
 13  LDEAL_ACT_DAYS_PCT_TR       46888 non-null   float64
 14  LDEAL_ACT_DAYS_PCT_TR3      46888 non-null   float64
 15  LDEAL_ACT_DAYS_PCT_TR4      46888 non-null   float64
 16  LDEAL_AMT_MONTH             935 non-null     float64
 17  LDEAL_DELINQ_PER_MAXYQZ     3945 non-null    float64
 18  LDEAL_DELINQ_PER_MAXYWZ     48030 non-null   float64
 19  LDEAL_GRACE_DAYS_PCT_MED    177595 non-null  float64
 20  LDEAL_TENOR_MAX             3945 non-null    float64
 21  LDEAL_TENOR_MIN             3945 non-null    float64
 22  LDEAL_USED_AMT_AVG_YQZ      3945 non-null    float64
 23  LDEAL_USED_AMT_AVG_YWZ      48030 non-null   float64
 24  LDEAL_YQZ_CHRG              616 non-null     float64
 25  LDEAL_YQZ_COM               612 non-null     float64
 26  LDEAL_YQZ_PC                1393 non-null    float64
 27  MAX_PCLOSE_DATE             931 non-null     float64
 28  MED_DEBT_PRC_YQZ            3945 non-null    float64
 29  MED_DEBT_PRC_YWZ            48030 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB
ptd 9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       177595 non-null  int64
 1   AMOUNT_RUB_ATM_PRC       158418 non-null  float64
 2   AMOUNT_RUB_CLO_PRC       158418 non-null  float64
 3   AMOUNT_RUB_NAS_PRC       158418 non-null  float64
 4   AMOUNT_RUB_SUP_PRC       158418 non-null  float64
 5   CNT_TRAN_ATM_TENDENCY1M  102809 non-null  float64
 6   CNT_TRAN_ATM_TENDENCY3M  127781 non-null  float64
 7   CNT_TRAN_AUT_TENDENCY1M  38415 non-null   float64
 8   CNT_TRAN_AUT_TENDENCY3M  55553 non-null   float64
 9   CNT_TRAN_CLO_TENDENCY1M  33458 non-null   float64
 10  CNT_TRAN_CLO_TENDENCY3M  57849 non-null   float64
 11  CNT_TRAN_MED_TENDENCY1M  34367 non-null   float64
 12  CNT_TRAN_MED_TENDENCY3M  58005 non-null   float64
 13  CNT_TRAN_SUP_TENDENCY1M  78159 non-null   float64
 14  CNT_TRAN_SUP_TENDENCY3M  99580 non-null   float64
 15  SUM_TRAN_ATM_TENDENCY1M  102809 non-null  float64
 16  SUM_TRAN_ATM_TENDENCY3M  127781 non-null  float64
 17  SUM_TRAN_AUT_TENDENCY1M  38415 non-null   float64
 18  SUM_TRAN_AUT_TENDENCY3M  55553 non-null   float64
 19  SUM_TRAN_CLO_TENDENCY1M  33458 non-null   float64
 20  SUM_TRAN_CLO_TENDENCY3M  57849 non-null   float64
 21  SUM_TRAN_MED_TENDENCY1M  34367 non-null   float64
 22  SUM_TRAN_MED_TENDENCY3M  58005 non-null   float64
 23  SUM_TRAN_SUP_TENDENCY1M  78159 non-null   float64
 24  SUM_TRAN_SUP_TENDENCY3M  99580 non-null   float64
 25  TRANS_AMOUNT_TENDENCY3M  151611 non-null  float64
 26  TRANS_CNT_TENDENCY3M     151611 non-null  float64
 27  TRANS_COUNT_ATM_PRC      158418 non-null  float64
 28  TRANS_COUNT_NAS_PRC      158418 non-null  float64
 29  TRANS_COUNT_SUP_PRC      158418 non-null  float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB
ptd 10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   REST_AVG_CUR              177595 non-null  float64
 2   REST_AVG_PAYM             177595 non-null  float64
 3   REST_DYNAMIC_CC_1M        177595 non-null  float64
 4   REST_DYNAMIC_CC_3M        177595 non-null  float64
 5   REST_DYNAMIC_CUR_1M       177595 non-null  float64
 6   REST_DYNAMIC_CUR_3M       177595 non-null  float64
 7   REST_DYNAMIC_FDEP_1M      177595 non-null  float64
 8   REST_DYNAMIC_FDEP_3M      177595 non-null  float64
 9   REST_DYNAMIC_IL_1M        177595 non-null  float64
 10  REST_DYNAMIC_IL_3M        177595 non-null  float64
 11  REST_DYNAMIC_PAYM_1M      177595 non-null  float64
 12  REST_DYNAMIC_PAYM_3M      177595 non-null  float64
 13  REST_DYNAMIC_SAVE_3M      177595 non-null  float64
 14  TURNOVER_CC               177595 non-null  float64
 15  TURNOVER_DYNAMIC_CC_1M    177595 non-null  float64
 16  TURNOVER_DYNAMIC_CC_3M    177595 non-null  float64
 17  TURNOVER_DYNAMIC_CUR_1M   177595 non-null  float64
 18  TURNOVER_DYNAMIC_CUR_3M   177595 non-null  float64
 19  TURNOVER_DYNAMIC_IL_1M    177595 non-null  float64
 20  TURNOVER_DYNAMIC_IL_3M    177595 non-null  float64
 21  TURNOVER_DYNAMIC_PAYM_1M  177595 non-null  float64
 22  TURNOVER_DYNAMIC_PAYM_3M  177595 non-null  float64
 23  TURNOVER_PAYM             177595 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 32.5 MB
ptd 11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           177595 non-null  int64
 1   AGE                          177595 non-null  int64
 2   APP_CAR                      28560 non-null   object
 3   APP_COMP_TYPE                33645 non-null   object
 4   APP_DRIVING_LICENSE          28561 non-null   object
 5   APP_EDUCATION                33993 non-null   object
 6   APP_EMP_TYPE                 33645 non-null   object
 7   APP_KIND_OF_PROP_HABITATION  29649 non-null   object
 8   APP_MARITAL_STATUS           34060 non-null   object
 9   APP_POSITION_TYPE            30248 non-null   object
 10  APP_REGISTR_RGN_CODE         30167 non-null   float64
 11  APP_TRAVEL_PASS              28561 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 16.3+ MB
ptd 12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   CNT_ACCEPTS_MTP           77497 non-null   float64
 2   CNT_ACCEPTS_TK            77497 non-null   float64
 3   PRC_ACCEPTS_A_AMOBILE     77497 non-null   float64
 4   PRC_ACCEPTS_A_ATM         77497 non-null   float64
 5   PRC_ACCEPTS_A_EMAIL_LINK  77497 non-null   float64
 6   PRC_ACCEPTS_A_MTP         77497 non-null   float64
 7   PRC_ACCEPTS_A_POS         77497 non-null   float64
 8   PRC_ACCEPTS_A_TK          77497 non-null   float64
 9   PRC_ACCEPTS_MTP           77497 non-null   float64
 10  PRC_ACCEPTS_TK            77497 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 14.9 MB

In [12]:
ptd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       177595 non-null  int64
 1   AMOUNT_RUB_ATM_PRC       158449 non-null  float64
 2   AMOUNT_RUB_CLO_PRC       158449 non-null  float64
 3   AMOUNT_RUB_NAS_PRC       158449 non-null  float64
 4   AMOUNT_RUB_SUP_PRC       158449 non-null  float64
 5   CNT_TRAN_ATM_TENDENCY1M  103065 non-null  float64
 6   CNT_TRAN_ATM_TENDENCY3M  127814 non-null  float64
 7   CNT_TRAN_AUT_TENDENCY1M  38697 non-null   float64
 8   CNT_TRAN_AUT_TENDENCY3M  55499 non-null   float64
 9   CNT_TRAN_CLO_TENDENCY1M  32838 non-null   float64
 10  CNT_TRAN_CLO_TENDENCY3M  57049 non-null   float64
 11  CNT_TRAN_MED_TENDENCY1M  34600 non-null   float64
 12  CNT_TRAN_MED_TENDENCY3M  57872 non-null   float64
 13  CNT_TRAN_SUP_TENDENCY1M  77836 non-null   float64
 14  CNT_TRAN_SUP_TENDENCY3M  99138 non-null   float64
 15  SUM_TRAN_ATM_TENDENCY1M  103065 non-null  float64
 16  SUM_TRAN_ATM_TENDENCY3M  127814 non-null  float64
 17  SUM_TRAN_AUT_TENDENCY1M  38697 non-null   float64
 18  SUM_TRAN_AUT_TENDENCY3M  55499 non-null   float64
 19  SUM_TRAN_CLO_TENDENCY1M  32838 non-null   float64
 20  SUM_TRAN_CLO_TENDENCY3M  57049 non-null   float64
 21  SUM_TRAN_MED_TENDENCY1M  34600 non-null   float64
 22  SUM_TRAN_MED_TENDENCY3M  57872 non-null   float64
 23  SUM_TRAN_SUP_TENDENCY1M  77836 non-null   float64
 24  SUM_TRAN_SUP_TENDENCY3M  99138 non-null   float64
 25  TRANS_AMOUNT_TENDENCY3M  151583 non-null  float64
 26  TRANS_CNT_TENDENCY3M     151583 non-null  float64
 27  TRANS_COUNT_ATM_PRC      158449 non-null  float64
 28  TRANS_COUNT_NAS_PRC      158449 non-null  float64
 29  TRANS_COUNT_SUP_PRC      158449 non-null  float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB

In [13]:
ptd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           177595 non-null  int64
 1   AGE                          177595 non-null  int64
 2   APP_CAR                      28696 non-null   object
 3   APP_COMP_TYPE                33717 non-null   object
 4   APP_DRIVING_LICENSE          28696 non-null   object
 5   APP_EDUCATION                34111 non-null   object
 6   APP_EMP_TYPE                 33717 non-null   object
 7   APP_KIND_OF_PROP_HABITATION  29712 non-null   object
 8   APP_MARITAL_STATUS           34174 non-null   object
 9   APP_POSITION_TYPE            30297 non-null   object
 10  APP_REGISTR_RGN_CODE         30383 non-null   float64
 11  APP_TRAVEL_PASS              28696 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 16.3+ MB

In [14]:
ptd3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          177595 non-null  int64
 1   AVG_PCT_DEBT_TO_DEAL_AMT    953 non-null     float64
 2   AVG_PCT_MONTH_TO_PCLOSE     822 non-null     float64
 3   DEAL_GRACE_DAYS_ACC_AVG     34530 non-null   float64
 4   DEAL_GRACE_DAYS_ACC_MAX     34530 non-null   float64
 5   DEAL_GRACE_DAYS_ACC_S1X1    35027 non-null   float64
 6   DEAL_YQZ_IR_MAX             4056 non-null    float64
 7   DEAL_YQZ_IR_MIN             4056 non-null    float64
 8   DEAL_YWZ_IR_MAX             47683 non-null   float64
 9   DEAL_YWZ_IR_MIN             47683 non-null   float64
 10  LDEAL_ACT_DAYS_ACC_PCT_AVG  46560 non-null   float64
 11  LDEAL_ACT_DAYS_PCT_AAVG     48960 non-null   float64
 12  LDEAL_ACT_DAYS_PCT_CURR     46560 non-null   float64
 13  LDEAL_ACT_DAYS_PCT_TR       46560 non-null   float64
 14  LDEAL_ACT_DAYS_PCT_TR3      46560 non-null   float64
 15  LDEAL_ACT_DAYS_PCT_TR4      46560 non-null   float64
 16  LDEAL_AMT_MONTH             953 non-null     float64
 17  LDEAL_DELINQ_PER_MAXYQZ     4056 non-null    float64
 18  LDEAL_DELINQ_PER_MAXYWZ     47683 non-null   float64
 19  LDEAL_GRACE_DAYS_PCT_MED    177595 non-null  float64
 20  LDEAL_TENOR_MAX             4056 non-null    float64
 21  LDEAL_TENOR_MIN             4056 non-null    float64
 22  LDEAL_USED_AMT_AVG_YQZ      4056 non-null    float64
 23  LDEAL_USED_AMT_AVG_YWZ      47683 non-null   float64
 24  LDEAL_YQZ_CHRG              625 non-null     float64
 25  LDEAL_YQZ_COM               628 non-null     float64
 26  LDEAL_YQZ_PC                1415 non-null    float64
 27  MAX_PCLOSE_DATE             950 non-null     float64
 28  MED_DEBT_PRC_YQZ            4056 non-null    float64
 29  MED_DEBT_PRC_YWZ            47683 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 40.6 MB

In [15]:
ptd4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      177595 non-null  int64
 1   CLNT_JOB_POSITION       105294 non-null  object
 2   CLNT_JOB_POSITION_TYPE  22236 non-null   object
 3   CLNT_SALARY_VALUE       337 non-null     float64
 4   CLNT_SETUP_TENOR        177595 non-null  float64
 5   CLNT_TRUST_RELATION     34575 non-null   object
 6   CR_PROD_CNT_CC          177595 non-null  int64
 7   CR_PROD_CNT_CCFP        177595 non-null  int64
 8   CR_PROD_CNT_IL          177595 non-null  int64
 9   CR_PROD_CNT_PIL         177595 non-null  int64
 10  CR_PROD_CNT_TOVR        177595 non-null  int64
 11  CR_PROD_CNT_VCU         177595 non-null  int64
 12  PACK                    177595 non-null  object
 13  TARGET                  177595 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 19.0+ MB

In [16]:
ptd5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   CNT_ACCEPTS_MTP           77666 non-null   float64
 2   CNT_ACCEPTS_TK            77666 non-null   float64
 3   PRC_ACCEPTS_A_AMOBILE     77666 non-null   float64
 4   PRC_ACCEPTS_A_ATM         77666 non-null   float64
 5   PRC_ACCEPTS_A_EMAIL_LINK  77666 non-null   float64
 6   PRC_ACCEPTS_A_MTP         77666 non-null   float64
 7   PRC_ACCEPTS_A_POS         77666 non-null   float64
 8   PRC_ACCEPTS_A_TK          77666 non-null   float64
 9   PRC_ACCEPTS_MTP           77666 non-null   float64
 10  PRC_ACCEPTS_TK            77666 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 14.9 MB

In [17]:
ptd6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        177595 non-null  int64
 1   REST_AVG_CUR              177595 non-null  float64
 2   REST_AVG_PAYM             177595 non-null  float64
 3   REST_DYNAMIC_CC_1M        177595 non-null  float64
 4   REST_DYNAMIC_CC_3M        177595 non-null  float64
 5   REST_DYNAMIC_CUR_1M       177595 non-null  float64
 6   REST_DYNAMIC_CUR_3M       177595 non-null  float64
 7   REST_DYNAMIC_FDEP_1M      177595 non-null  float64
 8   REST_DYNAMIC_FDEP_3M      177595 non-null  float64
 9   REST_DYNAMIC_IL_1M        177595 non-null  float64
 10  REST_DYNAMIC_IL_3M        177595 non-null  float64
 11  REST_DYNAMIC_PAYM_1M      177595 non-null  float64
 12  REST_DYNAMIC_PAYM_3M      177595 non-null  float64
 13  REST_DYNAMIC_SAVE_3M      177595 non-null  float64
 14  TURNOVER_CC               177595 non-null  float64
 15  TURNOVER_DYNAMIC_CC_1M    177595 non-null  float64
 16  TURNOVER_DYNAMIC_CC_3M    177595 non-null  float64
 17  TURNOVER_DYNAMIC_CUR_1M   177595 non-null  float64
 18  TURNOVER_DYNAMIC_CUR_3M   177595 non-null  float64
 19  TURNOVER_DYNAMIC_IL_1M    177595 non-null  float64
 20  TURNOVER_DYNAMIC_IL_3M    177595 non-null  float64
 21  TURNOVER_DYNAMIC_PAYM_1M  177595 non-null  float64
 22  TURNOVER_DYNAMIC_PAYM_3M  177595 non-null  float64
 23  TURNOVER_PAYM             177595 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 32.5 MB

In [18]:
ptd7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177595 entries, 0 to 177594
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      177595 non-null  int64
 1   CLNT_JOB_POSITION       105517 non-null  object
 2   CLNT_JOB_POSITION_TYPE  22545 non-null   object
 3   CLNT_SALARY_VALUE       375 non-null     float64
 4   CLNT_SETUP_TENOR        177595 non-null  float64
 5   CLNT_TRUST_RELATION     34846 non-null   object
 6   CR_PROD_CNT_CC          177595 non-null  int64
 7   CR_PROD_CNT_CCFP        177595 non-null  int64
 8   CR_PROD_CNT_IL          177595 non-null  int64
 9   CR_PROD_CNT_PIL         177595 non-null  int64
 10  CR_PROD_CNT_TOVR        177595 non-null  int64
 11  CR_PROD_CNT_VCU         177595 non-null  int64
 12  PACK                    177595 non-null  object
 13  TARGET                  177595 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 19.0+ MB

7. Проверьте датасеты на отсутствие дубликатов

In [20]:
ptd4 = pd.concat([ptd4, ptd7], ignore_index=True)
ptd4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355190 entries, 0 to 355189
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      355190 non-null  int64
 1   CLNT_JOB_POSITION       210811 non-null  object
 2   CLNT_JOB_POSITION_TYPE  44781 non-null   object
 3   CLNT_SALARY_VALUE       712 non-null     float64
 4   CLNT_SETUP_TENOR        355190 non-null  float64
 5   CLNT_TRUST_RELATION     69421 non-null   object
 6   CR_PROD_CNT_CC          355190 non-null  int64
 7   CR_PROD_CNT_CCFP        355190 non-null  int64
 8   CR_PROD_CNT_IL          355190 non-null  int64
 9   CR_PROD_CNT_PIL         355190 non-null  int64
 10  CR_PROD_CNT_TOVR        355190 non-null  int64
 11  CR_PROD_CNT_VCU         355190 non-null  int64
 12  PACK                    355190 non-null  object
 13  TARGET                  355190 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 37.9+ MB

### 3.2. Очистка текстовых данных
Теперь можно приступать к очистке данных. Для этого нужно:
1. Найти в получившемся датасете все поля, которые являются текстовыми.
2. Привести их значения к нижнему регистру.
3. В тех полях, где есть одновременно русское и английское написание одного и того же слова, оставить только русское (заменить английское на русское). Это условие не применять к полю `CLNT_JOB_POSITION`. Это будет чересчур даже для нашего курса :)
4. Если текстовое значение состоит только из “` `“ (пробел), то его заменить на `NaN` (пустое значение, а не строку 'NaN').
5. Если в текстовом значении есть цифры (телефон, дата рождения и др.), то всё значение текстового поля тоже заменить на `NaN`. Поле `PACK` оставить в исходном виде. Оно отвечает за пакет услуг клиента, и нам эта информация может быть важной. Затирать ее на пустые значения было бы опрометчиво.
6. Если есть столбцы, которые абсолютно идентичны по своим значениям для одних и тех же строк, то оставить только тот столбец, который идет первее. Речь идет только о текстовых полях.

7. Выведите количество уникальных значения в полях CLNT_TRUST_RELATION, APP_MARITAL_STATUS, CLNT_JOB_POSITION

8. Выведите колонки итогового датасета